html {
    background: linear-gradient(0deg, rgba(14,15,17,1) 0%, rgba(14,15,17,1) 50%, rgba(23,28,43,1) 100%);
    height: 100%;
}

a {
    color: #7289DA; 
}

/* ================================= LOGIN AND SIGNUP ================================= */

#loginView, #signupView {

    /* Color */
    background-color: #2C2F33;
    border-radius: 25px;
    border: 5px solid #7289DA; 
    box-shadow: 0 0 15px #7289DA; 

    /* Size and Center */
    position: fixed;
    width: 30%;
    height: 500px;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    text-align: center;
    padding-top: 100px;
}

#loginView h1, #signupView h1 {
    color: white;
    margin-top: 0;
    margin-bottom: 50px;
}

#loginView input[type=text], #loginView input[type=password], #signupView input[type=text], #signupView input[type=password] {
    width: 60%;
    height: 40px;
    margin: 10px;
    font-size: 120%;
    border-radius: 10px;
    text-align: center;
}

#loginView input[type=button], #signupView input[type=button] {
    width: 30%;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 100px;
    font-size: 120%;
    border-radius: 10px;
    text-align: center;
}

/* ================================= HOME AND LOBBY ================================= */

#homeView, #lobbyView {

    /* Color */
    background-color: #2C2F33;
    border-radius: 25px;
    border: 5px solid #7289DA; 
    box-shadow: 0 0 15px #7289DA; 

    /* Size and Center */
    position: fixed;
    width: 60%;
    height: 700px;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    text-align: center;
    padding-top: 50px;

    color:  #7289DA;
}

#homeView p, #lobbyView p {
    margin: 0;
    margin-bottom: 70px;
}

#homeView h1, #lobbyView h1 {
    color: white;
    margin: 0;
}

#homeView input[type=button], #lobbyView input[type=button] {
    width: 30%;
    height: 40px;
    margin-top: 70px;
    font-size: 120%;
    border-radius: 10px;
}

/* HOME AND LOBBY TABLE */
#homeView table, #lobbyView table {
    margin: auto auto;
    width: 70%;
    border: 4px solid #7289DA;
    color: white;
    background-color: rgba(23,28,43,1);
    border-radius: 15px;
}

#homeView th, #lobbyView th {
    border: 4px solid #7289DA;
    font-size: 120%;
    padding-top: 20px;
    height: 40px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#homeView table, #homeView td, #lobbyView table, #lobbyView td {
    
    border-collapse: collapse;
}

#homeView td, #lobbyView td {
    border: 2px solid #7289DA;
    height: 40px;
}

#homeView table tr:last-child, #lobbyView table tr:last-child {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

/* LOBBY CANVAS */

#lobbyMenu {
    float:left;
    width: 40%;
}

#lobbyMenu h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}

#chessContainer canvas {
    margin: 0;
    position: absolute;
    top: 50px;
    right: 50px;
    float: right;
}